
{% extends "base/base.html" %}
{% load static %}
{% block body %}
{% include "base/navbar_light.html" %}


<section class="flat-spacing-9">
    <div class="container">
        <div class="tf-grid-layout gap-0 lg-col-2">
            <div class="w-100">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d72982.39448094236!2d74.9564661469169!3d15.463165819269712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb8cd62d889aba7%3A0x5a4f2144717bcf70!2sDharwad%2C%20Karnataka!5e1!3m2!1sen!2sin!4v1727775853172!5m2!1sen!2sin"  width="100%" height="894" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="tf-content-left has-mt">
                <div class="sticky-top">
                    <h5 class="mb_20">Visit Our Store</h5>
                    <div class="mb_20">
                        <p class="mb_15"><strong>Address</strong></p>
                        <p>Dharwad, Karnataka, India</p>
                    </div>
                    <div class="mb_20">
                        <p class="mb_15"><strong>Phone</strong></p>
                        <p>+91 7022492527 </p>
                        <p>+91 8073634930 </p>
                    </div>
                    <div class="mb_20">
                        <p class="mb_15"><strong>Email</strong></p>
                        <p>azzliaswardrobe@gmail.com</p>
                    </div>
                    {% comment %} <div class="mb_36">
                        <p class="mb_15"><strong>Open Time</strong></p>
                        <p class="mb_15">Our store has re-opened for shopping, </p>
                        <p>exchange Every day 11am to 7pm</p>
                    </div> {% endcomment %}
                    <div>
                        <ul class="tf-social-icon d-flex gap-20 style-default">
                            <li><a href="#" class="box-icon link round social-facebook border-line-black"><i class="icon fs-14 icon-fb"></i></a></li>
                            <li><a href="#" class="box-icon link round social-twiter border-line-black"><i class="icon fs-12 icon-Icon-x"></i></a></li>
                            <li><a href="#" class="box-icon link round social-instagram border-line-black"><i class="icon fs-14 icon-instagram"></i></a></li>
                            <li><a href="#" class="box-icon link round social-tiktok border-line-black"><i class="icon fs-14 icon-tiktok"></i></a></li>
                            <li><a href="#" class="box-icon link round social-pinterest border-line-black"><i class="icon fs-14 icon-pinterest-1"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock %}